.container
	.row
		.span12
			.well.center{style: "margin-top: 30px;"}
				%h1 You want to get together with friends.  
				%h2 Let us plan it!
				- if @invite
					%p
						Sign up with Google to start planning activities with 
						= @invite.sender.name
				%div.cta
					= link_to "Sign Up With Google", "/auth/google_oauth2", class: 'red'
				%div
					= link_to "Shoot, I don't use Google", no_google_path
	.row
		.span3.feature
			%h4.center.teal	Link Your Calendars
		.span3.feature
			%h4.center.yellow Choose Activities
		.span3.feature
			%h4.center.orange Invite Friends
		.span3.feature
			%h4.center.purple Make Plans