%h1 Jupiter

- if current_user
  .row
    .span6
      %h4 Your calendars
      %ul
      - @calendar_list.data.items.each do |calendar|
        %label.checkbox
          = check_box_tag "select"
          = calendar.summary
    .span6
      %h4 Your contacts
      / Include these scripts to import address books with CloudSponge
      %script{:src => "https://api.cloudsponge.com/address_books.js", :type => "text/javascript"}
      %script{:charset => "utf-8", :type => "text/javascript"}
        var csPageOptions = {
        domain_key:"JHJRZ3UHXREFTX8HCBJQ",
        textarea_id:"contact_list"
        };
      / Any link with a class="cs_import" will start the import process
      %a.cs_import Add from Address Book
      / This textarea will be populated with the contacts returned by CloudSponge
      %textarea#contact_list{:style => "width:450px;height:82px"}