.container
	.row
		.span12
			.center{style: "margin-top: 30px;"}
				%h1 Don't use Google?
				%h4 We're currently working on connecting Jupiter with other calendars like Yahoo! and Hotmail.  Please check back soon.
			= image_tag "no-google.jpg"