$orange: #F26921;
@import "bootstrap";
@import "design";
@import "home";
@import "navigation";

.center {
	text-align: center;
}

.no-margin { margin: 0; }

.flash {
	margin-bottom: 0px!important;
	position: absolute;
	top: -2px;
	left: 50%;
	width: 250px;
	margin-left: -125px!important;
	text-align: center;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
	background-color: #fff;
}

.table-striped tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
	background-color: #f9f9f9;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -66px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
  height: 66px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
