$teal: #21D0C1;
$yellow: #FFD630;
$orange: #F26921;
$purple: #46134C;
$footer: #97D4CD;

body {
	color: $purple;
}
.light-text {
	font-weight: normal;
}
.teal {
	background: $teal;
}
.yellow {
	background: $yellow;
}
.orange {
	background: $orange;
}
.purple {
	background: $purple;
}
.teal-text {
	color: $teal;
}

.features {
	margin-bottom: 20px;
}
.feature {
	h4 {
		color: #FFF;
		padding: 5px 0;
		font-weight: 300;
		font-size: 16px;
		margin: 0;
	}
}

#headline {
	font-size: 30px;
	font-weight: 400;
}

#copyright {
	position: absolute;
	top: 28px;
	left: 20px;
}