$teal: #21D0C1;
$yellow: #FFD630;
$orange: #F26921;
$purple: #46134C;
$footer: #BBE4E0;

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

.btn {
	@include border-radius(0px);
}

body {
	color: $purple;
	font-family: "Helvetica Neue"
}
.light-text {
	font-weight: normal;
}
.teal, .yellow, .orange, .purple {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.teal {
	background: $teal;
}
.yellow {
	background: $yellow;
}
.orange {
	background: $orange;
}
.purple {
	background: $purple;
}
.teal-text {
	color: $teal;
}
.orange-text {
	color: $orange;
}

.step {
	color: #fff;
	font-family: "Helvetica Neue";
	font-weight: 300;
	padding: 5px 0;
	margin: 0;
}
.step-inactive {
	background: #D9D9D9;
}


.features {
	margin-bottom: 20px;
}
.feature {
	h4 {
		color: #FFF;
		padding: 5px 0;
		font-weight: 300;
		font-size: 16px;
		margin: 0;
	}
}

#pain-points {
	margin-top: 20px;
	font-size: 15px;
	img {
		margin-bottom: 20px;
	}
}

#headline {
	font-size: 30px;
	font-weight: 400;
}

#copyright {
	position: absolute;
	top: 28px;
	left: 20px;
}