#friends {
	margin: 10px 0 0 0;
	list-style: none;
	.friend {
		list-style: none;
		padding: 10px;
		margin: 0 10px 0 0;
		cursor: pointer;
		width: 280px;
		float: left;
		&:hover {
			background: #f1f1f1;
		}
		.facebook-picture-square {
			display: inline-block;
			width: 50px;
			height: 50px;
		}
	}
}