
#user_nav {
	background: #FFF;
	padding: 20px 0;
	color: #333;
	.logo a {
		color: $orange;
		text-decoration: none;
		font-size: 44px;
		font-weight: bolder;
		text-transform: uppercase;
		&:hover {
			color: darken($orange, 5%);
		}
	}
	hr {
		margin: 20px 0 0 0;
	}
	.google_sign_in {
		background: #454E5D;
		@include gradient-vertical(lighten($orange, 20%), $orange);
		font-weight: bold;
		font-size: 15px;
		padding: 10px 20px;
		color: #fff;
		text-decoration: none;
		@include transition(all 0.1s);
		&:hover {
			background: $teal;
		}
		&:active {
			background: darken($teal, 10%);
		}
	}
}

.page-title {
	background: $footer;
	padding: 40px 0;
	color: #fff;
	margin: 0;
	font-weight: 100;
}

hr {
	border-top: 1px solid #9E81A0;
}