#user_nav {
	background: #1c2235;
	padding: 20px 0;
	color: #fff;
	.logo a {
		color: #fff;
		text-decoration: none;
		font-size: 26px;
		text-transform: uppercase;
		&:hover {
			color: #ddd;
		}
	}
	.google_sign_in {
		background: #454E5D;
		padding: 10px 20px;
		@include border-radius(3px);
		color: #fff;
		text-decoration: none;
		@include transition(all 0.3s);
		&:hover {
			background: #018FD5;
		}
	}
}

.page-title {
	background: #018FD5;
	padding: 40px 0;
	color: #fff;
	margin: 0;
	font-weight: 100;
}